SECRET_KEY=your_django_secret_key


NAME=your_database_name
DB_USER=your_database_host
PASSWORD=you_password
HOST=you_host
PORT=you_port

STRIPE_API_KEY=YOU_STRIPE_API_KEY

CELERY_BROKER_URL=YOU_CELERY_BROKER_URL
CELERY_RESULT_BACKEND=YOU_CELERY_RESULT_BACKEND

EMAIL_HOST=you_email_host
EMAIL_PORT=you_email_port
EMAIL_HOST_USER=your_email_smtp
EMAIL_HOST_PASSWORD=your_app_smtp_password
EMAIL_USE_TLS=False_or_True
EMAIL_USE_SSL=False_or_True

SERVER_EMAIL = EMAIL_HOST_USER
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER